nltk==3.8.1
langchain 
langchain_community
unstructured 
libmagic 
python-magic 
streamlit

# # For Embeddings and Vector Store
faiss-cpu 
langchain-huggingface
sentence-transformers 

# # For LLM
langchain-openai 




